@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

h1{
    font-size: 50px;
}

.form-control input{
    width: 600px;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 20px;
}

button{
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    width: 160px;
    padding: 14px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.warning{
    color: #ff0000;
    font-size: 20px;
}

.show-success{
    color: #04a504;
    font-size: 20px;
}
